<plugin name='xfire' version='0.9' grailsVersion='2.4 &gt; *'>
  <author>Carlos Henrique</author>
  <authorEmail>krloshps@gmail.com</authorEmail>
  <title>Adding Web Service support for Grails(2.4 &gt; *) services using XFire.</title>
  <description>XFire plugin allows Grails applications to expose service
classes as Web Services. It uses the SOAP implementation
</description>
  <type>XfireGrailsPlugin</type>
  <resources />
</plugin>